doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Nikita Makarov
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="src/css/style.css")
		link(rel="icon", type="image/png", href="images/favicon.png")

	body
	
		.sidebar
			h1 Nikita Makarov
			h4.onwhite //Developer
		
		header.box
			.name Nikita Makarov
			.desc //Developer

		section.content

			article
				h1 About

				hr
				.face-lockup
					.face-img
				p Hi! Welcome to my page! I am Nikita and I want to help people create amazing things in web/mobile development and design. Searching for interesting work. Ready to become a part of a team or take an order. 

				hr
				
				h4 technology directions
				.pics
					.row.img-row
						figure.columns.three
							img(src="/images/techno/js.png")
							figcaption EcmaScript 6
						figure.columns.three
							img(src="/images/techno/react.svg")
							figcaption React.js
						figure.columns.three
							img(src="/images/techno/angular.png")
							figcaption Angular.js
						figure.columns.three
							img(src="/images/techno/gulp.png")
							figcaption Gulp

				h4 personal qualities
				.row.quality
					figure.columns.six
						h5 creativity (80%):
					figure.columns.six
						.meter.blue.animate
							span(style='width: 80%')
				.row.quality
					figure.columns.six
						h5 responsibility (90%):
					figure.columns.six
						.meter.blue.animate
							span(style='width: 90%')
				.row.quality
					figure.columns.six
						h5 persistence (100%):
					figure.columns.six
						.meter.blue.animate
							span(style='width: 100%')

				h1 What can I do?

				hr

				p I can make a single-page responsive web-site with unique design from scratch. Attentive to details. 100% Quality guarantee. Let's start right now!

				hr
				.large-window
					.window-tint
						.promo-text Web-site
							.strong <span>from</span> $99
							a(href="mailto:nikitjjam@gmail.com").btn Order
							
				h1.opening Portfolio
				
				hr

				p Some android apps and web-sites I've already created.	
				
				hr
				
				.blog-posts.row
					.post.columns.four.post-1
						h5 GitTrends
						img(src="/images/works/gittrends_finale_small.jpg")
						.p2 A mini application with Github feed of popular repositories, connected to GitHub API.
						p: a.btn.small(href="https://drive.google.com/open?id=0Bw2Qq_KwI1CaemxKRW5SdnY5aVE") Download
					
					.post.columns.four.post-2
						h5 Jotter
						img(src="/images/works/jotter_finale_small.jpg")
						.p2 A colourful notebook with a small database inside, making your notes safe and sound.
						p: a.btn.small(href="https://drive.google.com/open?id=0Bw2Qq_KwI1CaNkZhdGlnR2Z5czQ") Download

					.post.columns.four.post-3
						h5 Developer β
						img(src="/images/works/dev_finale_small.jpg")
						.p2 Beta version of this web-site with simple responsive design made in some other style.
						p: a.btn.small(href="/beta/index.html", rel="old", type="text/html", title="Second Page") Visit Page
						
				h1.last-section
				
		footer
			.contact
				h1 Contacts
				.social-links
					a.icon-vk(href="https://vk.com/nikita5makarov")
					a.icon-be(href="https://www.behance.net/nikitamakarov")
					a.icon-sky(href="skype:nikitaznew?call")
					a.icon-lin(href="https://ru.linkedin.com/in/nikita-makarov-284376129")
				p +79204510324 | nikitjjam@gmail.com
							
		script(src="src/js/jquery-2.1.3.min.js")
		script(src="src/js/functions.js")
		script(src="../bundle.js")